.blog,
.single-post {
    .three-col-grid {
        grid-template-columns: repeat( auto-fit, minmax(360px, 1fr));
    }
}

.three-col-grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(360px, 1fr));
    @media only screen and (min-width: $screen-size--medium) {
        grid-template-columns: repeat( auto-fit, minmax(360px, 0fr));
    }
    grid-gap: 1.5rem;
}

.card-list {
    padding: 0;
    margin: 5px 0 0;
    margin: 0.313em 0 0;
    text-align: center;
    li {
        display: inline-block;
        margin: 0 5px;
        margin: 0 0.313em;
    }
}

.blog,
.single-post {
    .card-container {
        max-width: 100%;
    }
}

.card-container {
    margin-bottom: 2em;
    max-width: 360px;
    margin: 0 auto;
    .taxonomy-label {
        font-weight: 400;
        @include font-size(.7);
        text-transform: uppercase;
        letter-spacing: .18rem;
        border-bottom: 1px solid #ddd;
        margin-bottom: .5rem;
    }
    .post-thumbnail {
        margin: 0 -5%;
        height: auto;
        overflow: hidden;
        @media only screen and (min-width: $screen-size--tiny) {
            margin: 0 auto;
        }
        img {
            // transition: transform .5s ease;
            transition: transform .5s, filter 1.5s ease-in-out;
        }
        &:hover,
        &:focus,
        &:active {
            border-bottom: none
        }
        &:hover img {
            transform: scale(1.1);
        }
    }
    .pbsci-taxonomy {
        list-style-type: none;
        margin: 0 0 10px;
        padding: 0;
        justify-content: flex-start;
        li {
            margin: 0 5px 0 0;
            display: inline;
            &:after {
                content: ",";
            }
            &:last-child {
                &:after {
                    content: "";
                }
            }
        }
    }
    .card-content {
        padding: 10px 0 0;
        .card-header {
            .card-title {
                margin: 10px 0;
            }
        }
    }
    .card-blurb {
        margin-top: 0;
         :first-child {
            margin-top: 0;
        }
    }
}

.card-degrees-offered {
    // flex: 0 1 100%;
    @media only screen and (min-width: $screen-size--small) {
        // flex: 0 1 auto;
    }
    .card-list {
        justify-content: flex-start;
        li {
            height: 2.1875rem;
            width: 2.1875rem;
            border-radius: 50%;
            line-height: 2.6;
            color: #fff;
            @include font-size(.75);
            // text-transform: uppercase;
            font-weight: bold;
            padding-top: 0.2em;
            &:first-child {
                margin-left: 0;
            }
            &.minor {
                background: $ucsc--primary-yellow;
            }
            &.ba {
                background: $ucsc--light-blue;
            }
            &.bs {
                background: $ucsc--green;
            }
            &.ma {
                background: $ucsc--orange;
            }
            &.ms {
                background: $ucsc--blue-green;
            }
            &.phd {
                background: $ucsc--magenta;
            }
        }
    }
}