@import "columns";
@import "flexbox";
.content-area {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: $size__site-main;
}

.site-main {
    margin-right: 0;
}

.panel {
    width: $size__site-main;
    @include center-block();
    padding-bottom: 50px;
    padding-bottom: 3.125em;
    &:after {
        @include clearfix();
        @include clearfix-after();
    }
}

.wrap {
    max-width: $size__max-width;
    margin-left: 15px;
    margin-right: 15px;
    @media only screen and (min-width: $screen-size--large) {
        @include center-block();
    }
}

.clear {
    @include clearfix-after();
}

// Flexbox Grid
// @url https://thingsym.github.io/flexbox-grid-mixins/
//
// .grid {
//     @include grid();
// }
.grid {
    @include grid($gutter: $default-grid-gutter);
    @for $i from 1 through $default-grid-columns {
        >.grid__col-#{$i} {
            flex: 1 0 100%;
            @media only screen and (min-width: $screen-size--small) {
                @include grid-col($col: $i, $grid-columns: $default-grid-columns, $gutter: $default-grid-gutter);
            }
        }
    }
}

// .content-area {
//     float: right;
//     margin: 0 0 0 (-$size__site-sidebar);
//     width: $size__site-main;
// }
// .site-main {
//     margin: 0 0 0 $size__site-sidebar;
// }
// .site-content .widget-area {
//     float: left;
//     overflow: hidden;
//     width: $size__site-sidebar;
// R0 G60 B108 RGB: R0 G106 B173
// }
.site-footer {
    clear: both;
    width: $size__site-main;
    background-color: $ucsc--primary-blue;
    // background-image: linear-gradient(to bottom right, rgba(0, 60, 108, 1), rgba(0, 60, 108, .5), rgba(0, 60, 108, .25), rgba(255, 0, 0, 0));
    .panel {
        // width: $size__site-main;
        background-color: $ucsc--primary-yellow;
        padding-bottom: 0;
        .footer-top {
            flex: 1;
            flex-basis: 100%;
            font-family: 'Helvetica', sans-serif;
            text-transform: uppercase;
            font-weight: 300;
            @include font-size(2.25);
            color: $ucsc--light-blue;
            border-left: 0;
            margin: 10px 0;
            .span-a {
                text-transform: capitalize;
                font-weight: 900;
                padding-right: 15px;
                border-right: 3px solid $ucsc--light-blue;
                color: rgba(0, 106, 173, .35);
            }
            .span-b {
                font-weight: 900;
                padding-left: 15px;
            }
        }
    }
}

.footer-cell {
    .panel-heading-footer {
        width: 100%;
        margin: 25px 0;
        align-items: center;
        span {
            flex: 1;
        }
        .f-logo {
            // padding-right: 10px;
            padding: 10px;
            border-right: solid 3px $ucsc--primary-yellow;
        }
        .f-text {
            padding-left: 10px;
            // padding: 15px 0 15px 10px;
            font-family: 'Helvetica', sans-serif;
            font-weight: 900;
            @include font-size(2);
            margin: 2px 0 0;
            color: #fff;
        }
    }
    .panel-heading {
        h2 {
            color: #ffffff;
            @include font-size(1);
        }
    }
}