@import "columns";
@import "flexbox";
// .site-header {
//     padding-top: 80px;
// }
.site-header .no-hero // .site-header .no-hero {
//     padding-top: 0;
// }
.content-area {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: $size__site-main;
}

.site-main {
    margin-right: 0;
}

.pbsci-excerpt {
    max-width: 48em;
    line-height: 1.6;
    @include font-size(1.2);
    color: #585858
}

.panel {
    width: $size__site-main;
    @include center-block();
    // padding-bottom: 50px;
    // padding-bottom: 3.125em;
    padding: 4.5em 0;
    &:after {
        @include clearfix();
        @include clearfix-after();
    }
    .cell-meta,
    .cell-meta-link {
        font-weight: 700;
        @media only screen and (min-width: $screen-size--large) {
            margin: 0.9375rem 0;
        }
    }
    .cell-image-link {
        &:hover {
            border-bottom: 2px solid transparent;
        }
    }
    .cell-meta-link {
        border-bottom: 2px solid transparent;
        &:hover {
            text-decoration: underline $ucsc--light-blue;
        }
    }
    .cell-teaser {
        line-height: inherit;
        margin-bottom: 0.9375rem;
        margin-bottom: 0.9375rem;
    }
}

.panel-one {}

.panel-two {
    .cell-meta,
    .cell-meta-link {
        color: $ucsc--primary-yellow;
    }
}

.panel-three {
    .cell-meta {
        color: $ucsc--light-blue;
    }
    .cell-teaser {}
}

.wrap,
.nav-wrap {
    max-width: $size__max-width;
    margin: 0 auto;
    width: 90%;
}

.clear {
    @include clearfix-after();
}

.grid {
    @include grid($gutter: $default-grid-gutter);
    @for $i from 1 through $default-grid-columns {
        >.grid__col-#{$i} {
            flex: 1 0 100%;
            @media only screen and (min-width: $screen-size--small) {
                @include grid-col($col: $i, $grid-columns: $default-grid-columns, $gutter: $default-grid-gutter);
            }
        }
    }
}

.site-footer {
    clear: both;
    width: $size__site-main;
    background-color: $ucsc--primary-blue;
    .panel {
        background-color: $ucsc--primary-yellow;
        padding: 0;
        .footer-top {
            h2 {
                font-family: $font__head;
                text-transform: uppercase;
                font-weight: 300;
                @include font-size(1.35);
                color: $ucsc--light-blue;
                margin-top: 10px;
                @media only screen and (min-width: $screen-size--large) {
                    @include font-size(2.25);
                    margin-top: 0;
                }
            }
            flex: 1;
            flex-basis: 100%;
            border-left: 0;
            margin: 10px 0;
            padding-left: 0;
            overflow:hidden;
            .chevron-right::after {
                color: $ucsc--light-blue;
            }
            .span-a {
                text-transform: capitalize;
                font-weight: 900;
                padding-right: 5px;
                border-right: 3px solid $ucsc--light-blue;
                color: rgba(0, 106, 173, .35);
            }
            .span-b {
                font-weight: 900;
                padding-left: 5px;
            }
        }
    }
}

.footer-cell {
    img {
        margin-top: 14px;
    }
    .panel-heading {
        h2 {
            color: $color__white;
            @include font-size(1);
        }
    }
    .footer-social {
        width: 100%;
        text-align: center;
        list-style: none;
        i {
            color: $color__white;
        }
        a {
            border-bottom: none;
        }
    }
    .newsletter-cta {
        font-family: $font__head;
        @include font-size(.75);
        span {
            text-transform: uppercase;
            color: $ucsc--primary-yellow;
        }
        .impact {
            font-weight: 900;
        }
    }
}

.site-info {
    text-transform: uppercase;
    color: $color__white;
    .footer-legal {
        img {
            max-width: 250px;
        }
        text-align: center;
        margin-bottom: 2em;
        @include font-size(0.625);
        ul {
            font-weight: 900;
            margin: 10px 0 !important;
            padding: 0;
            li {
                display: inline;
                margin: 0;
                position: relative;
                line-height: 16px;
                line-height: 1rem;
                padding-right: 10px;
                &::after {
                    content: "|";
                    color: $ucsc--primary-yellow;
                    position: relative;
                    left: 5px;
                }
                &:last-of-type {
                    &::after {
                        content: "";
                    }
                }
            }
        }
    }
}