button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: $color__border-button;
    border-radius: 3px;
    background: $color__background-button;
    color: $color__white;
    @include font-size(1);
    line-height: 1;
    padding: 0.6em 1em 0.4em;
}

.button {
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    text-decoration: none;
    text-transform: uppercase;
    margin: 1em;
    padding: 1.1em 1.2em;
    border: none;
    background: none;
    color: $ucsc--primary-blue;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;
    word-break: keep-all;
    line-height: 1.4;
    max-width: 350px;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        height: 3px;
        background-color: #ffbf00;
        width: 100%;
        transition: -webkit-transform 400ms ease-in-out;
        transition: transform 400ms ease-in-out;
        transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
    }
    &:hover:after {
        transform: scaleX(1);
    }
    &.news-more-button {
        color: $ucsc--primary-blue;
        background: rgba(254, 254, 254, 0.6);
        border: 2px solid #13a5dc;
        display: block;
        margin: 0 auto;
        @include font-size(.82);
        @media only screen and (min-width: $screen-size--medium) {
            @include font-size(1);
        }
        &:hover {
            color: $ucsc--primary-blue;
            background: transparent;
            border: 2px solid transparent;
        }
    }
}