input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: $color__text-input;
    border: 1px solid $ucsc--light-blue;
    border-radius: 3px;
    // padding: 10px 5px;
    cursor: pointer;
    &:focus {
        color: $color__text-input-focus;
    }
}

input[type="search"] {
    &::placeholder {
        color: $ucsc--primary-blue;
    }
}

select {
    background-color: $color__white;
    border: 1px solid $ucsc--lighter-blue;
    border-radius: 3px;
    // padding: 10px 5px;
    cursor: pointer;
}

textarea {
    width: 100%;
}