input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: $color__text-input;
    border: 1px solid $ucsc--light-blue;
    border-radius: 3px;
    // padding: 10px 5px;
    cursor: pointer;
    &:focus {
        color: $color__text-input-focus;
    }
}

input[type="search"] {
    &::placeholder {
        color: $ucsc--primary-blue;
    }
}

select {
    background-color: $color__white;
    border: 1px solid $ucsc--lighter-blue;
    border-radius: 3px;
    // padding: 10px 5px;
    cursor: pointer;
}

textarea {
    width: 100%;
}
input.search-field {
    padding: 0 4px;
    width: calc(100% - 85px); 
    margin: 20px 0;
    @media screen and (min-width: $screen-size--medium) {
        max-width: 150px;
        margin: 0 0 0 20px;
    }
}
input.search-field::placeholder {
    color: #aaa;
    font-size: 14px;
}
// Handle mailchimp forms inside the CTA
.cta #mc_embed_signup {
    background: transparent !important;
    margin: 10px;
    padding: 10px;
}
.cta .asterisk:after {
    content: '*';
    color: #fff;
}
.cta .mc-field-group {
    margin-top: 20px;
    label {
        display: block;
    }
}
#mc_embed_signup input {
    border-radius: 0;
}
// Hide the other button if we have a form in the CTA
#mc_embed_signup ~ .cta-button {
    display: none;
}