body,
button,
input,
select,
optgroup,
textarea {
    font-family: $font__main;
    @include font-size(1);
    line-height: $font__line-height-body;
}

body {
    color: $color__text-main;
}

button,
input,
select,
optgroup,
textarea {
    color: $ucsc--primary-blue;
}

@import "headings";
@import "copy";