.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
    select {
        max-width: 100%;
    }
    footer & {
        color: $color__white
    }
}

.widget-area {
    .widget-title {
        text-transform: uppercase;
        font-family: 'Helvetica', sans-serif;
        font-weight: 300;
        color: $color__white;
        @include font-size(1);
        border-left: 3px solid $ucsc--primary-yellow;
        padding-left: 10px;
        padding: 5px 0 5px 10px;
        margin: 0 0 15px;
        box-sizing: border-box;
        span {
            font-weight: 900;
        }
        @media only screen and (min-width: $screen-size--large) {
            margin: 30px 0 15px;
        }
    }
}