/*--------------------------------------------------------------
## Localist Event Widgets
--------------------------------------------------------------*/


/*--------------------------------------------------------------
### Widget type: List, style: Modern
--------------------------------------------------------------*/

.localist_widget_wrapper {
    .localist_widget_container {
        span {
            &.lw_event_item_date {
                @include background-opacity($ucsc--blue-green, 0.5);
            }
        }
        .pin {
            background: $ucsc--blue-green;
        }
        .clock {
            border-color: $ucsc--blue-green;
        }
        .lw_event_meta {
            width: 100%;
        }
        .lw_event_content {
            .lw_event_item_title {
                line-height: 1.5;
            }
        }
        .action_button {
            a {
                background: $ucsc--light-blue;
            }
            a:hover {
                background: $ucsc--light-blue;
                color: $color__background-body;
            }
        }
        li {
            &.lw_event_item {
                border: none;
            }
        }
    }
}


/*--------------------------------------------------------------
### Widget type: List, style: Card
--------------------------------------------------------------*/

.localist-widget-hl {
    .event-list {
        .event {
            width: 100%;
            margin: 0px;
        }
    }
    .event-card {
        .event-short-date {
            background: $ucsc--blue-green!important;
            abbr {
                color: $color__background-body;
            }
        }
    }
    .event-details {
        @include background-opacity($ucsc--blue-green, 0.8);
    }
}


/*--------------------------------------------------------------
### Widget type: List, style: Classic
--------------------------------------------------------------*/

.lwn0 {
    background: $ucsc--blue-green;
    padding: 5px;
    color: $color__background-body!important;
}