    ul,
    ol {
        margin: 0 0 1.5em 3em;
    }
    
    ul {
        list-style: disc;
    }
    
    ol {
        list-style: decimal;
    }
    
    li>ul,
    li>ol {
        margin-bottom: 0;
        margin-left: 1.5em;
    }
    
    dt {
        font-weight: bold;
    }
    
    dd {
        margin: 0 1.5em 1.5em;
    }
    
    .no-list-style {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .footer-departments-list,
    .footer-resources-list,
    .footer-social {
        list-style: none;
        margin-left: 1em;
        padding: 0;
        li {
            margin-bottom: 5px;
            margin-bottom: 0.3125em;
            p {
                margin: 0;
            }
        }
    }
    
    .footer-social {
        margin: 0;
        display: inline-block;
        li {
            display: inline-block;
            margin-right: 1.2em;
            i {
                @include font-size(2);
            }
        }
    }