//
// Breakpoints
//============================
//48em = 768px = Tablet Portrait
//@media only screen and (min-width: 48em) {
$breakpoint__screen-size--small: new-breakpoint(min-width $screen-size--small 4);
//@media only screen and (min-width: 1023px) {
$breakpoint__screen-size--medium: new-breakpoint(min-width $screen-size--medium 6);
//@media only screen and (max-width: 1200px) {
$breakpoint__screen-size--large: new-breakpoint(min-width $screen-size--large 12);
//@media only screen and (max-width: 480px) {
// $breakpoint__screen-size--smaller: new-breakpoint(max-width $screen-size--smaller 2);