.site-content,
.site-header,
.site-footer,
.wrap {
    max-width: $size_structural-wrap;
    margin: 0 auto;
}

.site-content {
    .page &,
    .single & {
        padding-top: 32px;
        padding-top: 2em;
    }
}