.breadcrumbs {
    color: $ucsc--primary-yellow;
    a {
        color: $ucsc--primary-yellow;
        &:visited {
            color: $ucsc--primary-yellow;
        }
    }
    .trail-items {
        li:after {
            display: none;
        }
        li:before {
            content: "\000BB";
            padding: 0 6px;
        }
        li.trail-begin:before {
            display: none;
        }
        li.trail-end {
            display: none;
        }
    }
}
