.breadcrumbs-container {
    background-color: #fff;
    color: #888;
    padding: 5px 0;
    border-top: 1px solid #ccc;
    a {
        color: $ucsc--primary-blue;
        &:visited {
            color: $ucsc--primary-blue;
        }
    }
    .trail-items {
        li:after {
            display: none;
        }
        li:before {
            content: "/";
            padding: 0 6px;
        }
        li.trail-begin:before {
            display: none;
        }
    }
}
