.breadcrumbs {
    color: $ucsc--primary-yellow;
    a {
        color: $ucsc--primary-yellow;
        &:visited {
            color: $ucsc--primary-yellow;
        }
    }
}

.breadcrumb_last {
    display: none;
}