        a {
            color: $color__link;
            text-decoration: none;
            border-bottom: 2px solid transparent;
            &:visited {
                color: $color__link-visited;
            }
            &:hover,
            &:focus,
            &:active {
                color: $color__link-hover;
                border-bottom: 2px solid $ucsc__primary-yellow;
            }
            &:focus {
                outline: thin dotted;
            }
            &:hover,
            &:active {
                outline: 0;
            }
        }
        
        .site-info {
            a {
                color: $color__white;
                &:visited {
                    color: $color__white;
                }
            }
        }
        
        .footer-departments-list,
        .footer-resources-list {
            .chevron-right::after {
                color: $color__white;
            }
            a {
                color: $color__white;
                text-decoration: none;
                font-weight: 900;
                &:visited {
                    color: $color__white;
                }
            }
        }
        
        .white-cell-link {
            color: $ucsc--light-blue;
            font-weight: 900;
            &:visited {
                color: $ucsc--light-blue;
            }
        }
        
        .logo {
            &:hover,
            &:focus,
            &:active {
                border-bottom: none;
            }
        }
        
        .stats-source {
            a {
                color: $color__white;
            }
        }
        
        .cat-links {
            display: block;
            text-transform: uppercase;
            @include font-size(.96);
            a {
                color: $color__white;
                @media only screen and (min-width: $screen-size--medium) {
                    color: $ucsc--primary-blue;
                }
                border-bottom: 2px solid $ucsc--primary-yellow;
            }
        }