        a {
            color: $color__link;
            text-decoration: none;
            &:visited {
                color: $color__link-visited;
            }
            &:hover,
            &:focus,
            &:active {
                color: $color__link-hover;
                border-bottom: 2px solid $ucsc__primary-yellow;
            }
            &:focus {
                outline: thin dotted;
            }
            &:hover,
            &:active {
                outline: 0;
            }
        }
        
        .site-info {
            a {
                color: $color__white;
                &:visited {
                    color: $color__white;
                }
            }
        }
        
        .footer-departments-list {
            .chevron-right::after {
                color: $color__white;
            }
            a {
                color: $ucsc--primary-yellow;
                text-decoration: none;
                font-weight: 900;
                &:visited {
                    color: $ucsc--primary-yellow;
                }
            }
        }
        
        .white-cell-link {
            // color: $ucsc__primary-yellow;
            color: $ucsc--light-blue;
            font-weight: 900;
            &:visited {
                color: $ucsc--light-blue;
            }
        }
        
        .logo {
            &:hover,
            &:focus,
            &:active {
                border-bottom: none;
            }
        }
        
        // .stats-source {
        // }