        a {
            color: $color__link;
            text-decoration: none;
            border-bottom: 2px solid transparent;
            &:visited {
                color: $color__link-visited;
            }
            &:hover,
            &:focus,
            &:active {
                color: $color__link-hover;
                border-bottom: 2px solid $ucsc__primary-yellow;
            }
            &:focus {
                outline: thin dotted;
            }
            &:hover,
            &:active {
                outline: 0;
            }
        }
        
        .entry-content {
            a {
                border-bottom: 2px solid $ucsc__primary-yellow;
            }
        }
        
        .post-thumbnail,
        .post-thumbnail:hover {
            border-bottom: none;
        }
        
        .site-info {
            a {
                color: $color__white;
                &:visited {
                    color: $color__white;
                }
            }
        }
        
        .footer-departments-list,
        .footer-resources-list {
            .chevron-right::after {
                color: $color__white;
            }
            a {
                color: $color__white;
                text-decoration: none;
                font-weight: 900;
                &:visited {
                    color: $color__white;
                }
            }
        }
        
        .white-cell-link {
            color: $ucsc--light-blue;
            font-weight: 900;
            &:visited {
                color: $ucsc--light-blue;
            }
        }
        
        .logo {
            &:hover,
            &:focus,
            &:active {
                border-bottom: none;
            }
        }
        
        .stats-source {
            a {
                color: $color__white;
            }
        }
        
        .cat-links {
            display: block;
            text-transform: uppercase;
            padding: .75rem 0;
            @include font-size(.96);
        }
        
        .tags-links {
            text-transform: capitalize;
        }
        
        .cat-links,
        .tags-links {
            a {
                color: $ucsc--primary-blue;
                border-bottom: 1px solid $ucsc--lighter-blue;
                @media only screen and (min-width: $screen-size--small) {
                    border-bottom: 2px solid $ucsc--primary-yellow;
                }
            }
        }
        
        .post-edit-link,
        .comments-link {
            margin-left: 1em;
        }
        
        .social-sharing {
            a {
                color: $ucsc--primary-blue;
                &:hover {
                    border-bottom: 2px solid transparent;
                }
            }
        }
        /**
 * Back To Top Button
 */
        
        .topbutton {
            text-align: center;
            height: 50px;
            width: 50px;
            position: fixed;
            right: 15px;
            bottom: 30px;
            z-index: 99999;
            background-repeat: no-repeat;
            display: none;
            border-bottom: none;
            color: $ucsc--magenta;
            &:hover,
            &.focus,
            &.active,
            &.visited {
                border-bottom: none;
                color: $ucsc--magenta
            }
        }