    .main-navigation {
        
        clear: both;
        display: block;
        width: 100%;

        .menu {

            display: none;
            &.active {
                display:block;
            }
            margin: 0;
            padding: 0 0 1em;
            text-align: center;

            // Top-level items
            li {
                cursor: pointer;
                list-style: none;
                margin: 0 0 1em 0;
                padding: 0;
                text-align: center;
                font-weight: 600;
                text-transform: uppercase;

                a {
                    color: $color__white;
                    display: inline-block;
                    text-decoration: none;
                    padding: .5em .75em;
                    font-weight: 400;
                    border-bottom: none;
                }
                
            }

            > :last-child {
                margin-bottom: 0;
                padding-bottom: 0;

            }

            // Second level lists
            ul {
                list-style: none;
                margin: 0 0 0.25em 0;
                padding: .1em;
                border-top: 2px solid rgba(255, 255, 255, .25);

                // Second level items
                li {
                    margin: 0.25em 0;

                    a {
                        font-weight: 400;
                        text-transform: none;
                        font-size: .9rem;

                        &:focus,
                        &:hover,
                        &:active {
                            background-color: $ucsc--light-blue;
                            color: $color__background-body;
                            transition: all .20s ease-in-out;
                        }
                    }
                }
            }

            // Desktop width menu styles
            @media only screen and (min-width: $screen-size--medium) {

                display: inline;
                float: right;
                padding: 0;

                li {
                    display: inline-block;
                    text-align: left;
                    position: relative;
                    padding-bottom: .7em;
                    margin-bottom: -1em;
                    margin-right: .25em;
                                        
                    a {
                        color: white;
                    }

                    // Dropdown list
                    ul {
                        position: absolute;
                        right: 2000em;
                        z-index: 1000;
                        top: 3em;
                        width: 10em;
                        background-color: white;
                        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
                        border: none;
                        transition: opacity .35s ease-in-out;
                        opacity: 0;

                        // Adds the arrow on the top
                        &:before {
                            display: block;
                            position: absolute;
                            top: -20px;
                            left: calc(50% - 10px);
                            width: 0;
                            height: 0;
                            content: "";
                            border: 10px solid rgba(255, 255, 255, 1.0);
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 10px solid transparent;
                        }

                        li {
                            margin: 0;
                            padding: 0;
                            border-bottom: 1px solid $ucsc--light-blue;
                            display: block;

                            &:last-child {
                                border-bottom: none;
                            }
                        }

                        a {
                            color: #00458c;
                            padding: .5em .5em;
                            display: block;
                            font-size: .9rem;
                        }

                        :focus,
                        :hover,
                        :active {
                            background-color: $ucsc--light-blue;
                            color: $color__background-body;
                            transition: all .20s ease-in-out;
                        }
                    }

                    // :focus-within allows tab-navigation to reveal the dropdown
                    &:focus ul,
                    &:hover ul,
                    &:active ul,
                    &:focus-within ul {
                        margin-left: -5em;
                        left: 50%;
                        opacity: 1;
                    }
                }

            }

        }


    }
    
    .secondary-navigation {
        list-style: none;
        margin: 0;
        padding-left: 0;
        li {
            flex-basis: 30%;
        }
        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-height: 146px;
            border: 1px solid #ddd;
            .fas {
                font-size: 48px;
            }
            p {
                margin-bottom: 0;
                text-align: center;
            }
        }
    }
    
    // Small screen hamburger menu button
    .menu-toggle,
    .main-navigation.toggled ul {
        display: block;
    }
    

    @media only screen and (min-width: $screen-size--medium) {
        .menu-toggle {
            display: none;
        }
    }
    
    .comment-navigation,
    .posts-navigation,
    .post-navigation {
        .site-main & {
            margin: 0 0 1.5em;
            overflow: hidden;
        }
        .nav-previous {
            float: left;
            width: 50%;
        }
        .nav-next {
            float: right;
            text-align: right;
            width: 50%;
        }
        .nav-next a::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f105";
            padding-left: 5px;
            padding-top: 2px;
        }
        .nav-previous a::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f104";
            padding-right: 5px;
            padding-top: 2px;
        }
        .nav-previous,
        .nav-next {
            a {
                padding: 15px;
                // background: green;
                border: 2px solid $ucsc--magenta;
                display: inline-block;
                &:hover {
                    background: $ucsc--primary-blue;
                    border: 2px solid $ucsc--primary-blue;
                    color: $color__white;
                }
            }
        }
    }
    
    .main-navigation {
        padding: 0;
        text-align: initial;
        right: 0;
        left: 0;
        top: 0;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .35);
        background: linear-gradient(15deg, #003c6c, #006aad);
        z-index: 100;
        /* Here's the new CSS to add... */
        .admin-bar & {
            top: 32px;
        }
        &.stuck {
            position: fixed;
        }

        &>* {
            box-sizing: border-box;
        }
        .nav-wrap {
            @media only screen and (min-width: $screen-size--medium) {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
                height: 70px;
                align-items: center;
            }
        }
        .navbar-toggle {
            position: relative;
            float: right;
            padding-top: 10px;
            cursor: pointer;
            color: $color__white;
            font-size: 24px;
            @media only screen and (min-width: $screen-size--medium) {
                display: none;
            }
        }
        .logo {

            border: none;
            @media only screen and (min-width: $screen-size--medium) {
                flex: 0 0 240px;
            }

            img {
                width: 180px;
                height: auto;
                @media only screen and (min-width: $screen-size--medium) {
                    width: 240px;
                }
            }
        }

    }

// The Giving button in the main navigation is the last button in the menu
// Since there is no way to target it directly, these styles target the last
// menu item. If the last menu item changes, this will break the convention. :-(;    
#primary-menu > li.menu-item:last-child {        
    margin: 0;
    padding: 0;
    a {
        color: $ucsc--primary-yellow !important;
        margin: 0;
        padding: 8px;
        border: 2px solid $ucsc--primary-yellow;
        border-radius: 3px;
        &:focus,
        &:hover,
        &:active {
            color: $ucsc--primary-blue !important;
            background-color: $ucsc--primary-yellow;
        }
    }
}