    .global-navigation,
    .main-navigation {

        clear: both;
        display: block;
        width: 100%;

        .menu {

            display: none;
            margin: 0;
            padding: 0 0 1em;

            // Top-level items
            li {
                list-style: none;
                margin: 0 0 1em 0;
                padding: 0;
                font-weight: 600;
                text-transform: uppercase;
                a {
                    color: $color__white;
                    display: inline-block;
                    text-decoration: none;
                    padding: .5em .75em;
                    font-weight: 400;
                    border-bottom: none;
                    display: block;
                    &:focus {
                        background: $ucsc--light-blue;
                        outline: none;
                    }
                }

            }

            > :last-child {
                margin-bottom: 0;
                padding-bottom: 0;

            }

            // Second level lists
            ul {
                list-style: none;
                margin: 0 0 0.25em 0;
                padding: .1em;
                display: none;
                // Second level items
                li {
                    margin: 0.25em 0;
                    border: none;
                    a {
                        font-weight: 400;
                        text-transform: none;
                        font-size: .9rem;
                        display: block;
                        &:focus,
                        &:hover,
                        &:active {
                            background-color: $ucsc--light-blue;
                            color: $color__background-body;
                            transition: all .20s ease-in-out;
                        }
                    }
                }
            }
            li.show-submenu ul {
                display: block;
            }

            // Desktop width menu styles
            @media only screen and (min-width: $screen-size--medium) {
                display: inline;
                padding: 0;

                li {
                    display: inline-block;
                    text-align: left;
                    position: relative;
                    padding-bottom: .7em;
                    margin-bottom: -1em;
                    margin-right: .25em;

                    a {
                        color: white;
                    }

                    // Dropdown list
                    ul {
                        position: absolute;
                        right: 2000em;
                        z-index: 1000;
                        top: 3em;
                        width: 10em;
                        background-color: white;
                        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
                        border: none;
                        transition: opacity .35s ease-in-out;
                        opacity: 0;
                        display: none;

                        // Adds the arrow on the top
                        &:before {
                            display: block;
                            position: absolute;
                            top: -20px;
                            left: calc(50% - 10px);
                            width: 0;
                            height: 0;
                            content: "";
                            border: 10px solid rgba(255, 255, 255, 1.0);
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 10px solid transparent;
                        }

                        li {
                            margin: 0;
                            padding: 0;
                            border-bottom: 1px solid $ucsc--light-blue;
                            display: block;

                            &:last-child {
                                border-bottom: none;
                            }
                        }

                        a {
                            color: #00458c;
                            padding: .5em .5em;
                            display: block;
                            font-size: .9rem;
                        }

                    }

                    &.show-submenu ul {
                        margin-left: -5em;
                        left: 50%;
                        opacity: 1;
                        display: block;
                    }
                }

            }

        }


    }

    .secondary-navigation {
        list-style: none;
        margin: 0;
        padding-left: 0;
        li {
            flex-basis: 30%;
        }
        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-height: 146px;
            border: 1px solid #ddd;
            .fas {
                font-size: 48px;
            }
            p {
                margin-bottom: 0;
                text-align: center;
            }
        }
    }

    // Small screen hamburger menu button
    .menu-toggle,
    .main-navigation.toggled ul {
        display: block;
    }


    @media only screen and (min-width: $screen-size--medium) {
        .menu-toggle {
            display: none;
        }
    }

    .comment-navigation,
    .posts-navigation,
    .post-navigation {
        .site-main & {
            margin: 0 0 1.5em;
            overflow: hidden;
        }
        .nav-previous {
            float: left;
            width: 50%;
        }
        .nav-next {
            float: right;
            text-align: right;
            width: 50%;
        }
        .nav-next a::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f105";
            padding-left: 5px;
            padding-top: 2px;
        }
        .nav-previous a::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f104";
            padding-right: 5px;
            padding-top: 2px;
        }
        .nav-previous,
        .nav-next {
            a {
                padding: 15px;
                // background: green;
                border: 2px solid $ucsc--magenta;
                display: inline-block;
                &:hover {
                    background: $ucsc--primary-blue;
                    border: 2px solid $ucsc--primary-blue;
                    color: $color__white;
                }
            }
        }
    }

    .main-navigation {
        padding: 0;
        text-align: initial;
        right: 0;
        left: 0;
        top: 0;
        z-index: 100;
        /* Here's the new CSS to add... */
        .admin-bar & {
            top: 32px;
        }
        &.stuck {
            position: fixed;
        }

        &>* {
            box-sizing: border-box;
        }

        .logo {
            border: none;

            img {
                height: auto;
            }
        }

    }

// The Giving button in the main navigation is the last button in the menu
// Since there is no way to target it directly, these styles target the last
// menu item. If the last menu item changes, this will break the convention. :-(;
#primary-menu > li.menu-item:last-child {
    margin: 40px 0 0 0;
    padding: 0;
    text-align: center;
    @media only screen and (min-width: $screen-size--medium) {
        margin: 0;
        text-align: left;
    }
    a {
        color: $ucsc--primary-yellow !important;
        margin: 0;
        padding: 8px;
        border-radius: 3px;
        &:focus,
        &:hover,
        &:active {
            color: $ucsc--primary-blue !important;
            background-color: $ucsc--primary-yellow;
        }
    }
}
.header {
    background: $ucsc-gradient-ltr;
    position: relative;
    &:before {
        content:'';
        position: absolute;
        top:100px;
        bottom:0;
        left:0;
        right:0;
        background-image: url(images/mobile-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top right;
        display: block;
        z-index: 0;
        @media only screen and (min-width: $screen-size--medium) {
            display: none;
        }
    }
    .wrap {
        display: block;
        @media only screen and (min-width: $screen-size--medium) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-image: none;
        }
        .header-left {
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                border: none;
                display: block;
            }
            .menu-toggle {
                color: #fff;
                font-size: 24px;
            }
            @media screen and (min-width: $screen-size--medium) {
                max-width: 250px;
            }
        }
        .header-right {
            display: flex;
            flex-direction: column-reverse;
            position: relative;
            z-index: 1;
            &.menu-active {
                padding-top: 30px;
                min-height: 100vh;
                justify-content: flex-end;
            }
            @media screen and (min-width: $screen-size--medium) {
                flex-direction: column;
                padding: 5px 0 10px 0 !important;
                min-height: 0 !important;
            }
        }
    }
}
.main-navigation {
    .menu-active & .menu {
        display: block;
    }
    #primary-menu {
        @media screen and (min-width: $screen-size--medium) {
            display: flex;
        }
    }
    #primary-menu > li > a {
        border-bottom: 2px solid rgba(255, 255, 255, .25);
        @media screen and (min-width: $screen-size--medium) {
            font-size: .9rem;
            border-bottom: none;
            white-space: nowrap;
        }
        @media screen and (min-width: $screen-size--large) {
            font-size: inherit;
        }
    }
    #primary-menu > li.menu-item-has-children > a {
        display: flex;
        justify-content: space-between;
        &:after {
          content: "+";
          font-weight: bold;
          display: inline-block;
          color: $ucsc--primary-yellow;
          font-size: 18px;
        }
        @media screen and (min-width: $screen-size--medium) {
            display: block;
            &:after {
                content: '' !important;
                border: 6px solid $ucsc--primary-yellow;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid transparent;
                margin: 3px 0 -3px 5px;
            }
        }
    }
    #primary-menu > li.show-submenu > a:after {
        content:'\2013';
    }
    #primary-menu > li.menu-item:last-of-type a {
        display: inline-block;
        margin: 0 auto;
        border: 2px solid $ucsc--primary-yellow;
        &:after {
            content: "";
        }
    }
}
.global-navigation {
    display: none;
    .menu-active & {
        display: flex;
        flex-direction: column-reverse;
    }
    @media only screen and (min-width: $screen-size--medium) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 10px;
    }
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        @media only screen and (min-width: $screen-size--medium) {
            display: block;
        }
        li {
            padding-bottom: 0;
        }
        a {
            text-transform: none;
            font-family: $font__head;
            font-size: 14px;
            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}
.navbar-toggle {
    position: relative;
    float: right;
    cursor: pointer;
    color: $color__white;
    font-size: 24px;
    margin-left: 30px;
    @media only screen and (min-width: $screen-size--medium) {
        display: none;
    }
}

body.alternate-header {
    .header {
        background: #fff;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        @media only screen and (min-width: $screen-size--medium) {
            display: block;
        }
        &:before {
            content:'';
            position: absolute;
            top:100px;
            bottom:0;
            left:0;
            right:0;
            background-image: url(images/mobile-bg.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top right;
            display: block;
            z-index: 0;
            opacity: .7;
            @media only screen and (min-width: $screen-size--medium) {
                display: none;
            }
        }
        &.menu-active {
            min-height: 100vh;
            @media only screen and (min-width: $screen-size--medium) {
               min-height: 0;
            }
            &.menu-active .header-right {
                padding-top: 30px;
            }
        }
        .top-bar {
            position: relative;
            z-index: 1;
            @media only screen and (min-width: $screen-size--medium) {
                background: $ucsc-gradient-ltr;
            }
            .parent-logo img {
                display: none;
                @media only screen and (min-width: $screen-size--medium) {
                    display: block;
                    width: 150px;
                }
            }
        }
        .nav-wrap {
            display: block;
            position: relative;
            z-index: 1;
            @media only screen and (min-width: $screen-size--medium) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .header-left {
                a {
                    display: block;
                }
                a.custom-logo {
                    padding: 30px 0;
                    border: none;
                    img {
                        max-height: 60px;
                    }
                }
                a.no-logo {
                    padding: 40px 0;
                }
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media only screen and (min-width: $screen-size--medium) {
                    display: block;
                    width: auto;
                }
            }
            .menu {
                @media only screen and (min-width: $screen-size--medium) {
                    display: flex;
                }
            }
            .menu > li > a {
                color: $ucsc--primary-blue;
                white-space: nowrap;
                text-transform: none;
            }
            .menu > li  li a {
                @media only screen and (max-width: $screen-size--medium) {
                    color: $ucsc--primary-blue;
                    &:hover,
                    &:focus {
                        color: #fff;
                    }
                }
            }
            .site-title {
                font-size: 24px;
                text-transform: uppercase;
                font-weight: bold;
                line-height: 1;
                @media only screen and (min-width: $screen-size--medium) {
                    font-size: 36px;
                }
            }
        }
        .menu-active .global-navigation {
            @media only screen and (min-width: $screen-size--medium) {
                flex-direction: row;
            }
        }
        .main-navigation #primary-menu > li > a {
            border-color: rgba($ucsc--primary-blue, .5);
        }
        #primary-menu > li.menu-item:last-child a {
            color: $ucsc--primary-blue !important;
            background: $ucsc--primary-yellow;
            padding: 4px 12px;
            font-weight: bold;
            border-color: $ucsc--primary-yellow;
            text-transform: uppercase;
            &:focus,
            &:hover {
                background-color: #fff;
            }
        }
        .main-navigation .menu > li > a:focus {
            background: #efefef;
        }
        .global-navigation {
            margin: 0;
            a {
                color: $ucsc--primary-blue;
                @media only screen and (min-width: $screen-size--medium) {
                    color: #fff;
                }
            }
        }
        .main-navigation #primary-menu > li.menu-item-has-children > a:after {
            @media only screen and (min-width: $screen-size--medium) {
                content: '';
            }
        }
    }
    .navbar-toggle {
        color: $ucsc--primary-blue;
    }
}
.header  {
    position: relative;
    z-index: 1000;
    left: 0;
    right: 0;
    width: 100%;
    transition: transform .2s ease-out;
}
.header .header-left .no-logo,
.header .header-left .custom-logo {
  color: #fff;
    img {
        min-height: 50px;
        max-height: 65px;
        max-width: 250px;
        height: 100%;
    }
    .site-title {
        position: relative;
        font-size: 24px;
        font-weight: bold;
        display: inline-block;
    }
}
