        .main-navigation {
            clear: both;
            display: block;
            // float: right;
            width: 100%;
            ul {
                // display: none;
                list-style: none;
                margin: 0;
                padding-left: 0;
                ul {
                    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                    float: left;
                    position: absolute;
                    top: 100%;
                    left: -999em;
                    z-index: 99999;
                    ul {
                        left: -999em;
                        top: 0;
                    }
                    li {
                        &:hover>ul,
                        &.focus>ul {
                            left: 100%;
                        }
                    }
                    a {
                        width: 200px;
                    }
                     :hover>a,
                    .focus>a {}
                    a:hover,
                    a.focus {}
                }
                li:hover>ul,
                li.focus>ul {
                    left: auto;
                }
            }
            li {
                // float: right;
                position: relative;
                &:hover>a,
                &.focus>a {}
            }
            a {
                display: block;
                text-decoration: none;
            }
            .current_page_item>a,
            .current-menu-item>a,
            .current_page_ancestor>a,
            .current-menu-ancestor>a {}
        }
        /* Small menu. */
        
        .menu-toggle,
        .main-navigation.toggled ul {
            display: block;
        }
        
        @media screen and (min-width: 48em) {
            .menu-toggle {
                display: none;
            }
            .main-navigation ul {
                display: block;
            }
        }
        
        .comment-navigation,
        .posts-navigation,
        .post-navigation {
            .site-main & {
                margin: 0 0 1.5em;
                overflow: hidden;
            }
            .nav-previous {
                float: left;
                width: 50%;
            }
            .nav-next {
                float: right;
                text-align: right;
                width: 50%;
            }
        }
        /**Flexbox stuff*/
        
        .main-navigation {
            @media only screen and (min-width: $screen-size--small) {
                padding: 10px 0;
            }
            &>* {
                box-sizing: border-box;
            }
            // background-color:#fff;
            .nav-wrap {
                @media only screen and (min-width: $screen-size--small) {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 0;
                    height: 70px;
                    align-items: center;
                }
            }
            .navbar-toggle {
                position: absolute;
                top: 10px;
                right: 20px;
                cursor: pointer;
                color: rgba(255, 255, 255, 0.8);
                color: $ucsc--primary-blue;
                font-size: 24px;
                @media only screen and (min-width: $screen-size--small) {
                    display: none;
                }
            }
            .logo {
                display: inline-block;
                //   font-size: 22px;
                background-color: blue;
                margin-top: 10px;
                @media only screen and (min-width: $screen-size--small) {
                    margin-top: 0;
                }
                .h-logo {
                    img {
                        width: 100px;
                        height: auto;
                        @media only screen and (min-width: $screen-size--small) {
                            width: 195px;
                        }
                    }
                }
            }
            .menu {
                // display: none;
                @media only screen and (min-width: $screen-size--small) {
                    display: flex;
                    margin-right: 30px;
                    flex-direction: row;
                    justify-content: flex-end;
                }
                .menu-item {
                    text-align: center;
                    margin: 15px auto;
                    // background-color: #fff;
                    @media only screen and (min-width: $screen-size--small) {
                        margin: 0;
                        a {
                            margin-left: 40px;
                        }
                    }
                }
            }
        }