.archive,
.search,
.error404 {
    .site-content {
        margin-top: 2.5rem;
    }
}

.archive-grid {
    @media only screen and (min-width: $screen-size--small) {
        display: grid;
        grid-template-columns: 25% auto;
        grid-column-gap: 1em;
    }
    .archive-meta {
        margin-bottom: 0.75em;
        span {
            font-weight: 700;
            color: $ucsc--primary-blue;
        }
    }
    .entry-header,
    .entry-footer,
    .entry-summary-wide,
    .archive-excerpt-wide {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .entry-meta {
        margin: 0 0 .5rem;
    }
    .post-thumbnail {
        grid-column-start: 1
    }
    .pbsci-excerpt {
        margin-top: 0;
    }
}