.sticky {
    display: block;
}

.single-post {
    .site-content {
        position: relative;
        padding: 1.5em 0;
        @media only screen and (min-width: $screen-size--medium) {
            padding: 4rem 0;
        }
    }
}

.post,
.page {
    // margin: 0 0 1.5em;
    margin: 0;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary,
.entry-summary-wide {
    margin: 0 0 2.5em;
}

.entry-content {
    @media only screen and (min-width: $screen-size--small) {
        max-width: 52em;
        margin: 2.5em auto 2.5em;
    }
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}