.sticky {
    display: block;
}

.post,
.page {
    // margin: 0 0 1.5em;
    margin: 0;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 4em 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}