.sticky {
    display: block;
}

.post,
.page {
    // margin: 0 0 1.5em;
    margin: 0;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 2.5em 0;
}

.entry-content {
    @media only screen and (min-width: $screen-size--small) {
        max-width: 50em;
        margin: 2.5em auto;
    }
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}