.alert-bar {
  padding: 10px 15px;
  text-align: center;
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
  .alert-wrapper {
    line-height: 1.1;
    @media screen and (min-width: 768px) {
      display: inline-block;
    }
  }
  a.button {
    display: inline-block;
    padding: 4px 20px;
    font-size: 13px;
    letter-spacing:0;
    border: 1px solid;
    margin: 10px 0 10px 20px;
    @media screen and (max-width: 767px) {
      font-size: 11px;
      margin: 10px 0 0 0;
    }
    &:after,
    &:hover:after {
      display: none;
    }
  }
  &.emergency {
    background: #f8cfe0;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    a.button {
      color: white;
      background-color: #770c16;
      border-color: #770c16;
      &:hover {
        background-color: #fff;
        color: #770c16;
      }
    }
  }
  &.notice {
    background: #eee;
    transition: background-color .2s ease-in-out;
    a.button {
      background: #fff;
      border-color: $ucsc--lighter-blue;
      &:hover {
        background-color: $ucsc--primary-yellow;
      }
    }
  }
}
