.card-list {
    padding: 0;
    margin: 5px 0 0;
    margin: 0.313em 0 0;
    text-align: center;
    li {
        display: inline-block;
        margin: 0 5px;
        margin: 0 0.313em;
    }
}

// @media only screen and (min-width: $screen-size--small) {
//target last row
// .card-container:nth-child(3n+3):nth-last-child(-n+3),
// .card-container:nth-child(3n+3):nth-last-child(-n+3)~.card-container {
// border: 3px solid green;
// }
// .card-container:nth-child(3n+2):nth-last-child(-n+3),
// .card-container:nth-child(3n+2):nth-last-child(-n+3)~.card-container {
// border: 3px solid gray!important;
// margin-left: calc(30% * .160);
// margin-right: auto;
// }
// }
.card-container {
    margin-bottom: 2em;
    h4 {
        font-weight: 400;
        @include font-size(.7);
        text-transform: uppercase;
        letter-spacing: .18rem;
        border-bottom: 1px solid #ddd;
        margin-bottom: .5rem;
    }
    .post-thumbnail {
        margin: 0 -5%;
        height: auto;
        overflow: hidden;
        @media only screen and (min-width: $screen-size--tiny) {
            margin: 0 auto;
        }
        img {
            // transition: transform .5s ease;
            transition: transform .5s, filter 1.5s ease-in-out;
        }
        &:hover,
        &:focus,
        &:active {
            border-bottom: none
        }
        &:hover img {
            transform: scale(1.1);
        }
    }
    .pbsci-taxonomy {
        list-style-type: none;
        margin: 0 0 10px;
        padding: 0;
        justify-content: flex-start;
        li {
            margin: 0 5px 0 0;
            display: inline;
            &:after {
                content: ",";
            }
            &:last-child {
                &:after {
                    content: "";
                }
            }
        }
    }
    .card-content {
        padding: 0 0 10px;
        .card-header {
            h3 {
                margin: 10px 0;
            }
        }
    }
    .card-blurb {
        margin-top: 2rem;
         :first-child {
            margin-top: 0;
        }
    }
}

.card-degrees-offered {
    // flex: 0 1 100%;
    @media only screen and (min-width: $screen-size--small) {
        // flex: 0 1 auto;
    }
    .card-list {
        justify-content: flex-start;
        li {
            height: 2.1875rem;
            width: 2.1875rem;
            border-radius: 50%;
            line-height: 2.6;
            color: #fff;
            @include font-size(.75);
            // text-transform: uppercase;
            font-weight: bold;
            padding-top: 0.2em;
            &:first-child {
                margin-left: 0;
            }
            &.minor {
                background: $ucsc--primary-yellow;
            }
            &.ba {
                background: $ucsc--light-blue;
            }
            &.bs {
                background: $ucsc--green;
            }
            &.ma {
                background: $ucsc--orange;
            }
            &.ms {
                background: $ucsc--blue-green;
            }
            &.phd {
                background: $ucsc--magenta;
            }
        }
    }
}