.panel-list {
    padding: 0;
    margin: 5px 0 0;
    margin: 0.313em 0 0;
    text-align: center;
    li {
        display: inline-block;
        margin: 0 5px;
        margin: 0 0.313em;
    }
}

.panel-blurb,
.panel-content {
    // margin: 0.75em;
}

.panel-blurb {
    display: none;
}

.panel-row {
    // width: 100%;
    background-color: #dcdcdc;
    margin-bottom: 20px;
    @media only screen and (min-width: $screen-size--small) {
        flex-basis: 32%;
        // display: flex;
        // flex-flow: row wrap;
        // &>* {
        //     flex: 1 100%;
        // }
    }
    .post-thumbnail {
        margin: 0 -5%;
        @media only screen and (min-width: $screen-size--small) {
            margin: 0 auto;
        }
    }
    .panel-content {
        // display: flex;
        // flex-flow: row wrap;
        // &>* {
        // flex: 1 100%;
        // }
        // @media only screen and (min-width: $screen-size--small) {
        // flex: 1;
        // }
        .panel-header {
            // display: flex;
            // flex-flow: row wrap;
            // justify-content: flex-start;
            // &>* {
            // flex: 1 100%;
            // }
            // @media only screen and (min-width: $screen-size--small) {
            // flex: 1;
            // }
            h3 {
                margin: 10px 0;
            }
            .panel-degrees-offered {
                // flex: 0 1 100%;
                @media only screen and (min-width: $screen-size--small) {
                    // flex: 0 1 auto;
                }
                .panel-list {
                    justify-content: flex-start;
                    li {
                        height: 2.1875rem;
                        width: 2.1875rem;
                        border-radius: 2.1875rem;
                        line-height: 2.0625rem;
                        color: #fff;
                        // text-transform: uppercase;
                        font-weight: bold;
                        &.ba {
                            background: $ucsc--light-blue;
                        }
                        &.bs {
                            background: $ucsc--green;
                        }
                        &.ma {
                            background: $ucsc--orange;
                        }
                        &.ms {
                            background: $ucsc--blue-green;
                        }
                        &.phd {
                            background: $ucsc--magenta;
                        }
                    }
                }
            }
        }
        p {
            flex: 0 1 100%;
        }
        .panel-academic-options {
            flex: 0 1 100%;
            .panel-list {
                columns: 2;
                -webkit-columns: 2;
                -moz-columns: 2;
                // @media only screen and (min-width: $screen-size--small) {
                //     columns: auto;
                //     -webkit-columns: auto;
                //     -moz-columns: auto;
                // }
                li {
                    display: inline-block;
                    margin: 0 5px;
                    margin: 0 0.313em;
                }
            }
        }
    }
    .panel-blurb {
        flex: 0 1 100%;
    }
    .panel-footer {
        // flex: 0 1 100%;
        // display: flex;
        // align-items: center;
        // flex-flow: row wrap;
        a {
            display: block;
            &:after {
                content: "\f054";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                float: right;
            }
        }
        .panel-department-link {
            // flex: 1;
        }
        .panel-major-link {
            // flex: 1;
        }
        .panel-more-button {
            // flex: 1;
        }
        .panel-department-link,
        .panel-major-link,
        .panel-more-button {
            padding: 1em;
        }
    }
}